* {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    display: flex;
    width: 100%;
}

aside {
    justify-content: flex-start;
    width: 30%;
    color: aliceblue;
    background-color: rgb(201, 190, 131);
}

article {
    width: 70%;
    justify-content: flex-end;
    background-color: rgb(255, 246, 234);
}

header {
    text-align: center;
    background-color: rgb(226, 221, 190);
    padding: 15px;
    color: aliceblue;
    color: black;
}

footer {
    display: block;
    clear: both;
    background-color: rgb(226, 221, 190);
    text-align: center;
    color:black;
    padding: 10px;
}



nav {

    padding: 10%;
}

.prof-pic {
    width: 50%;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 25%;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: black;
}

.menu-list {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

.menu-item {
    font-weight: 700;
}

.interest-list {
    list-style-type: none;
}

.list-item {
    padding: 10px;
}

.contact-images {
    width: 5%;
    padding: 2%;
}

.footer-header {
    font-size: 30px;
    margin: 0;
}

.interests_and_skills {
    display: flex;
}

.interests {
    justify-content: flex-start;
    width: 45%;
    margin-left: 2%;
}

.skills {
    justify-content:flex-end;
    width: 50%;
}

.main-content {
    margin-left: 2%;
}

.dateDescription {
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
}

.timeHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: flex-start;
    width: 20%
}

.description {
    justify-content: flex-end;
    width: 60%;
    margin: 0;
    list-style-type: none;
}