* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    display: flex;
    width: 100%;
}

aside {
    width: 30%;
    color: aliceblue;
    background-color: rgb(201, 190, 131);
    background: url(/images/design.jpg);
}

article {
    width: 70%;
    justify-content: flex-end;
    background-color: rgb(255, 246, 234);
}

header {
    text-align: center;
    background-color: rgb(226, 221, 190);
    padding: 15px;
    color: aliceblue;
    color: black;
}

footer {
    display: block;
    clear: both;
    background-color: rgb(226, 221, 190);
    text-align: center;
    color:black;
    padding: 10px;
}

.prof-pic {
    width: 50%;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 25%;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.menu-list {
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    font-size: larger;
    
}

.menu-item {
    font-weight: 900;
    color: rgb(139, 0, 0);
}

.interest-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.list-item {
    padding: 10px;
}


.contact-images {
    width: 10%;
    padding: 2%;
}

.footer-header {
    font-size: 30px;
    margin: 0;
}

.interests_and_skills {
    display: flex;
    justify-content: space-between;
}

.interests {
    width: 45%;
    margin-left: 2%;
}

.skills {
    width: 50%;
}

.main-content {
    margin-left: 2%;
}

.dateDescription {
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
}

.timeHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: flex-start;
    width: 20%
}

.description {
    justify-content: flex-end;
    width: 60%;
    margin: 0;
    list-style-type: none;
}

.skill-img {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 850px){
    .dateDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #experience, #interests, #education, #about-me {
       text-align: center;
    }

    .interests_and_skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #skills {
        margin-left: 5rem;
    }

    .skills {
        margin-left: 3rem;
    }

    .main-content {
        margin-right: 1rem;
    }

    .my-description {
        text-align: center;
    }

    .timeHeader {
        margin-bottom: 1rem;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    article {
        width: 100%;
    }

    #skills {
        margin-left: 6rem;
    }
}